html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  background-color: #162831;
}

.container {
  min-width: 1346px;
  margin: 0 auto;
  padding: 0 25px;
}

.header {
  padding-top: 30px;
  margin-bottom: 50px;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.header-menu-link {
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}
.header-cta {
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  background-color: #018abe;
  border-radius: 3px;
  padding: 9px 15px;
}

.title {
  display: inline-block;
  color: #fff;
  font-family: "El Messiri", serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  padding-left: 73px;
  padding-right: 73px;
  position: relative;
}
.title::before {
  content: "";
  width: 28px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/title-leaf-left.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.title::after {
  content: "";
  width: 28px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/title-leaf-right.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  margin-bottom: 150px;
}
.banner-container {
  padding-top: 136px;
  padding-bottom: 210px;
  background-image: url("../images/bg-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 587px;
  margin: 0 auto;
  text-align: center;
  gap: 40px;
}
.banner-title {
  margin: 0;
  color: #fff;
  font-family: "El Messiri", serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}
.banner-subtitle {
  margin: 0;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
}
.banner-subtitle::before {
  background-image: url(../images/title-leaf-white-left.svg);
}
.banner-subtitle::after {
  background-image: url(../images/title-leaf-white-right.svg);
}

.session {
  padding-bottom: 150px;
}
.session-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.session-title {
  margin-bottom: 100px;
}
.session-container {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: repeat(2, 258px);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 24px;
}
.session-item {
  background-image: url("../images/bg-session-items.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.session-item:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(../images/bg-session.jpg);
  background-position: center;
  background-size: cover;
  padding: 50px;
  border-bottom: 10px solid #018abe;
}
.session-item-title {
  color: #fff;
  font-family: "El Messiri", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}

.about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-title {
  margin-bottom: 100px;
}
.about-container {
  margin-bottom: 165px;
}
.about-subtitle {
  margin: 0 0 30px 0;
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.about-container p {
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.about-item {
  background-position: center;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
.about-item:nth-child(2) .about-image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.about-item:nth-child(1) .about-image {
  padding-right: 110px;
}
.about-item:nth-child(2) .about-image {
  padding-left: 110px;
}
.about-item:nth-child(1) .about-desk {
  padding-left: 110px;
}
.about-item:nth-child(2) .about-desk {
  padding-left: 60px;
  padding-right: 110px;
}
.about-image {
  width: 50%;
  height: 365px;
}
.about-image img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.about-desk {
  width: 50%;
}

.price {
  margin-bottom: 150px;
}
.price-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.price-title {
  margin: 0;
  margin-bottom: 100px;
}
.price-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 110px;
  padding-right: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.price-left {
  padding-right: 110px;
}
.price-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.price-menu-item {
  padding-left: 38px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}
.price-menu-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 9px;
  background-image: url("../images/title-leaf-left.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.price-right img {
  width: 526px;
  height: 396px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.price-img-caption {
  color: #fff;
  font-family: "El Messiri", serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
}